@model TrainMonitor.Models.Train

@{
    Layout = "_Layout";
}

<h1>View</h1>

<div>
    <h4>Train</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DelayTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DelayTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
